<ion-view title="Edit Profile">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/Imq7zxr2TFmnQ0kYZjR8_Milky%2520Way.jpg) no-repeat center;" class="has-header">
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <div style="text-align:center;">
            <img src="img/jQwKmNdCT3qfNcE8pxRQ_me.jpg" width="30%" height="auto">
        </div>
        <p align="center">
        <button id="editProfile-button2"style="font-size:-6px;" class="button button-calm button-small icon-right ion-android-folder-open" align="center">Change Profile Picture</button>
        </p>
        <button id="editProfile-button3" class="button button-stable  button-block">First Name: Conor</button>
        <button id="editProfile-button5" class="button button-stable  button-block">Last Name: Foley</button>
        <button id="editProfile-button6" class="button button-stable  button-block">Email: cfoley3@wisc.edu</button>
        <button id="editProfile-button7" class="button button-stable  button-block">Phone Number: 608-630-0291</button>
    </ion-content>
</ion-view>