<ion-view title="Edit Profile">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/background.jpg) no-repeat center;" class="has-header">
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <div style="text-align:center;">
            <img src={{data.photo}} width="30%" height="auto">
        </div>
        <p align="center">
        <button id="editProfile-button2"style="font-size:-6px;" class="button button-calm button-small icon-right ion-android-folder-open" align="center" onclick="getPicture();">Change Profile Picture</button>
        
        </p>
        <font color="#FFFFFF">
                 <font size="5">Personal Information:</font>
                 <div class="spacer" style="width: 300px; height: 15px;"></div>
        <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name" ng-model="data.firstname" required>
                    <span style="color:red">
                        <span ng-show="editProfile.firstname.$error.required && editProfile.firstname.$dirty">!</span>
                    </span>
                </label>
                <label class ="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" ng-model="data.lastname" name="lastname" required>
                    <span style="color:red">
                        <span ng-show="editProfle.lastname.$error.required && editProfile.lastname.$dirty">!</span>
                    </span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="name@example.com" ng-model="data.email" name="email" required>
                    <span style="color:red">
                        <span ng-show="(editProfile.email.$error.required || editProfile.email.$invalid) && editProfile.email.$dirty">!</span>
                    </span>
                </label>

  <div class="spacer" style="width: 300px; height: 15px;"></div>
            <font color="#FFFFFF">
                 <font size="5">Interests:</font>
<div class="spacer" style="width: 300px; height: 10px;"></div>
  <ion-list>
    <ion-item>
      <ion-label>Advocacy</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Board Service</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Clerical</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Education</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Finance</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Food</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Medical</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Seniors</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Disabled</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Physical Labor</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Technology</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Youth</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>
  </ion-list>
  <div class="spacer" style="width: 300px; height: 10px;"></div>
        <p align="center">

        <a id="Update" ng-click="editProfile()" class="button button-stable  button-block" ui-sref="tabsController.myProfile">Update</a>
        </p> 
</ion-content>
