<ion-view title="Forgot Password">
    <ion-content style="background: url(img/background.jpg) no-repeat center;"padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <p>Enter your email address. An email will be sent to you with a recovery link.</p>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="name@example.com" ng-model="data.email">
                    <!-- Perform check on email address for validity -->

                </label>
            </ion-list>
            <button id="retrieve-password-button1" class="button button-stable  button-block" ng-click="retrievePassword()">Submit</a>
        </form>
    </ion-content>
</ion-view>