
<ion-view title="My Profile">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/Glq8TyVbSv6sfYjGWvb5_Milky%2520Way.jpg) no-repeat center;" class="has-header">
        <a ui-sref="tabsController.editProfile" id="myProfile-button1" class="button button-calm button-small icon-left ion-android-settings">Edit Profile</a>
        <div class="spacer" style="width: 300px; height: 6px;"></div>
       
        <ion-list>
            <ion-item class="item-thumbnail-center">
            <div style="text-align:center;">
                <img <img style="border:5px double #000080;" src="img/jQwKmNdCT3qfNcE8pxRQ_me.jpg" width="40%" height="auto">
            </div> 
            <div style="text-align:center;">   
                <h2>Conor Foley</h2>
                <p>cfoley3@wisc.edu</p>
                <p>608-630-0291</p>
                <p>Madison, WI</p>
            </div>
            </ion-item>
        </ion-list>-->
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <div>
            <p>
                <b>
                    <font color="#FFFFFF">
                        <font size="5">Interests:</font>
                    </font>
                </b>
            </p>
        </div>
        <ion-list>
            <ion-item>Economic Development</ion-item>
            <ion-item>After School Programs</ion-item>
            <ion-item>Nature Conservation</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 8px;"></div>
        <div>
            <p>
                <b>
                    <font color="#FFFFFF">
                        <font size="4">Organizations Involved With:</font>
                    </font>
                </b>
            </p>
        </div>
        <ion-list>
            <ion-item>Green Peace</ion-item>
            <ion-item>Boys and Girls Club</ion-item>
            <ion-item>Doctors Without Borders</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
    </ion-content>
</ion-view>