
<ion-view title="My Profile">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/background.jpg) no-repeat center;" class="has-header">
        <a ui-sref="tabsController.editProfile" id="myProfile-button1" class="button button-calm button-small icon-left ion-android-settings">Edit Profile</a>
        <div class="spacer" style="width: 300px; height: 6px;"></div>
       
        <ion-list>
            <ion-item class="item-thumbnail-center">
            <div style="text-align:center;">
                <img <img style="border:5px double #000080;" src={{data.photo}} width="40%" height="auto">
            </div> 
            <div style="text-align:center;">   
                <h2>{{data.firstname}} {{data.lastname}}</h2>
                <p>{{data.email}}</p>
                <p>{{data.phone}}</p>
                <p>{{data.city}}, {{data.state}}</p>
            </div>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div>
            <p>
                <b>
                    <font color="#FFFFFF">
                        <font size="5">Interests:</font>
                    </font>
                </b>
            </p>
        </div>
        <ion-list>
        <ion-item collection-repeat= "interest in interestslist" >
            {{interestslist}}
        </ion-item>
        </ion-list>
        
        <div class="spacer" style="width: 300px; height: 8px;"></div>
        <div>
            <p
                <b>
                    <font color="#FFFFFF">
                        <font size="4">Organizations Involved With:</font>
                    </font>
                </b>
            </p>
        </div>
        <ion-list>
        <ion-item collection-repeat="organization in organizationslist">
            {{organizationslist}}
        </ion-item>
        </ion-list>
        <b>{{interestslist[0]}}</b>
        <b>{{interestslist[1]}}</b>
        <b>{{interestslist[2]}}</b>
        <div class="spacer" style="width: 300px; height: 8px;"></div>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
    </ion-content>
</ion-view>