<ion-view title="Settings">
    <ion-content style="background: url(img/background.jpg) no-repeat center;" overflow-scroll="true" padding="true" class="has-header">

		<ul class="list">
          <li class="item item-toggle">
            Push Notifications
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          
          <li class="item item-toggle">
            Email Notifications
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>

          <li class="item item-toggle">
            Location Access
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>

          <li class="item item-button">
            <label class="button">Logout</label>
          </li>
        </ul>



	</ion-content>
</ion-view>