<ion-view title="Settings">
    <ion-content style="background: url(img/background.jpg) no-repeat center;" padding="true" class="has-header">


		<ul class="list">
          <li class="item item-toggle">
            Push Notifications
            <label class="toggle" ng-model="data.pushNotifications" ng-change="updateSettings()">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          
          <li class="item item-toggle" ng-model="data.emailNotifications" ng-change="updateSettings()">
            Email Notifications
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>

          <li class="item item-toggle" ng-model="data.locationAccess" ng-change="updateSettings()">
            Location Access
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>

          <li class="item item-button">
            <a ui-sref="login" id="logout-button" class="button button-stable  button-block">Logout</a>
          </li>
        </ul>



	</ion-content>
</ion-view>