<ion-view title="Settings" ng-init="getSettings()">
    <ion-content style="background: url(img/background.jpg) no-repeat center;" padding="true" class="has-header">


		<ul class="list">
          <li>
            <ion-toggle ng-model="data.pushNotifications" ng-change="updateSettings()" ng-checked="(data.pushNotifications == 1)?true:false">
              Push Notifications
            </ion-toggle>
          </li>
          
          <li>
            <ion-toggle ng-model="data.emailNotifications" ng-change="updateSettings()" ng-checked="(data.emailNotifications == 1)?true:false;">
              Email Notifications
            </ion-toggle>
          </li>

          <li>
            <ion-toggle ng-model="data.locationAccess" ng-change="updateSettings()" ng-checked="(data.locationAccess == 1)?true:false;">
             Location Access
            </ion-toggle>
          </li>

          <li class="item item-button">
            <button id="logout-button" class="button button-stable  button-block" ng-click="logout()">Logout</button>
          </li>
        </ul>



	</ion-content>
</ion-view>