<ion-view title="Signup">
    <ion-content style="background: url(img/background.jpg) no-repeat center;"padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name" ng-model="data.firstname">
                </label>
                <label class ="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" ng-model="data.lastname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="name@example.com" ng-model="data.email">
                    <!-- Perform check on email address for validity -->

                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="password" ng-model="data.password">
                </label>
            </ion-list>
            <a id="signup-button3" class="button button-stable  button-block" ng-click="signup()">Sign up</a>
        </form>
    </ion-content>
</ion-view>